*{
	box-sizing:border-box;
}

body{
	color: #424242; /* material design grey 800 */
	font-weight: 200;
	margin: 15px 15px 25px 15px;
	font-family: "semiboldlt", Arial, serif;
}

@font-face{
	font-family: "semiboldlt";
	src: url("source-sans-pro.otf");
}

.container{
	display: flex;
}

/*Aside*/
aside{
	display: flex;
    flex-direction: column;
    flex: 1;
    background-color: #26C6DA; /* material design cyan */
    color:#FFF; 
    padding-top: 60px;
}

aside img{
	display: flex;
    border-radius: 50%;
    margin: auto;
    margin-top: -35px;
    margin-bottom: -105px;
	width: 200px;
	height: 230px;
}

.nom_metier{ /*visible pour les résolutions inferieurs à 1200px*/
	display: none;
	padding: 40px;
	text-align: center;
	margin: 25px 20px -130px 20px;
}

aside h3{
    background-color: #424242;
    text-align: center;
    padding: 7px;  
}

.coordonnees p{ /*contact*/
	margin: auto;
	margin-left: 20px;
}

.moi p{
    text-align: justify;
    line-height: 40px;
    margin: 25px 20px 300px 20px;
}

.mes_loisirs{ /*titre span h3*/
    margin-top: -10%;
}

.loisir_icons{ /*icons bas de page partie gauche pour les resolution superieurs à 1200px*/
    
    display: flex;
    justify-content: space-between;
    margin-left: 55px;
    margin-top: 15px;
	font-size: 2.5em;
    line-height: 20px;
}

aside .fas{
	color: #FFF;
}

/*Main*/
main{
	flex: 2;
	padding: 0 40px 0 50px;
	background-color: #E0E0E0; /* material design grey */
}	

header{
	margin-top: 85px;
}

hr{
	border: 1px solid #26C6DA; /* material design cyan */
	width: 12%;
	margin-left: 0px;
	margin-top: -30px;
}

h1{
	font-size: 2.5em;
	font-weight: 300;
}
	
h1 span{
color: #26C6DA; /* material design cyan */
}

h2{
	font-size: 2.0em;
	font-weight: 200;
	margin-top: -20px;
}

h3{
	font-size: 1.5em;
	font-weight: 600;
	border-bottom: 2px solid #26C6DA; /* material design cyan */
	padding-bottom: 15px;
	margin-top: 130px;
	color: #26C6DA; /* material design cyan */
}

h3 span{
	margin-left: 5%;
}

h4{
	font-size: 1em;
	font-weight: bold;
	margin-bottom: 5px;

}

.fas, .far{ /* fontawesome.com */
	color: #26C6DA; /* material design cyan */
	font-size: 1em;
	margin-right: 30px;
	margin-left: -35px;
}

li{
	list-style: none;
	display: flex;
}

.date{
	flex: 1;
}

.date i{ /* fontawesome circle */
	margin-right: 8px;
}

.date p:nth-child(2){
    margin: -10px 0 0 -10px;
}

.droite{
	display: flex;
	flex-direction: column;
	flex: 3;
}

.droite p{
	margin-bottom: -5px;
}

.recommandations{
    display: flex;  
}

.recommandations span{ /*Noms en gras*/
	font-weight: bold;
}

.partie_gauche{
	width:60%;	
}

.partie_gauche p{
	margin-bottom: 13px;
}

.partie_droite{
	margin-bottom: 13px;
}

h3.loisir{ /* footer visible pour résolution inférieur à 1200px*/
	display: none;
}

.icons{ /* footer visible pour résolution inférieur à 1200px*/
	display: none;
}




